<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="btn-group btn-group-manager" role="group">
                            <button name="newOS" type="button" class="btn btn-danger waves-effect">Nova</button>
                            <button name="editOS" type="button" class="btn btn-danger waves-effect">Editar</button>                            
                            <button name="printReceipt" type="button" class="btn btn-danger waves-effect">Imprimir Recibo</button>
                        </div>
                        <table name="tableServiceOrders"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>