<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>DespCloud - Despachante online</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">                 

    <environment include="Development">

        <!-- ===== Template Core
             ==================================================== -->
        <!-- Bootstrap Core Css -->
        <link href="lib/template/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Waves Effect Css -->
        <link href="lib/template/plugins/node-waves/waves.css" rel="stylesheet" />
        <!-- Animation Css -->
        <link href="lib/template/plugins/animate-css/animate.css" rel="stylesheet" />
        <!-- ===== /Template Core
             ==================================================== -->

        <!-- ===== Sob Demanda
             ==================================================== -->
        <!-- Morris Chart Css-->
        <link href="lib/template/plugins/morrisjs/morris.css" rel="stylesheet" />
        <!-- Bootstrap Material Datetime Picker Css -->
        <link href="lib/template/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
        <!-- Bootstrap DatePicker Css -->
        <link href="lib/template/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
        <!-- Wait Me Css -->
        <link href="lib/template/plugins/waitme/waitMe.css" rel="stylesheet" />
        <!-- Bootstrap Select Css -->
        <link href="lib/template/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
        <!-- ===== /Sob Demanda
             ==================================================== -->

        <!-- ===== App Plugins
             ==================================================== -->
        <link href="~/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
        <link href="~/lib/izi-modal/css/iziModal.min.css" rel="stylesheet" />
        <!-- ===== App Plugins
            ==================================================== -->

        <!-- Custom Css -->
        <link href="lib/template/css/style.css" rel="stylesheet">
        <!-- App Custom Css -->
        <link href="css/app-template-custom.css" rel="stylesheet" />
        <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
        <link href="lib/template/css/themes/all-themes.css" rel="stylesheet" />

        <!-- App Css -->
        <link href="css/app-layout.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
       
        <!-- Template Core -->
        <link href="bundle/css/template-core.min.css" rel="stylesheet" />
        <!-- Template Sob Demanda -->
        <link href="bundle/css/template-plugins.min.css" rel="stylesheet" />
        <!-- App Plugins -->
        <link href="bundle/css/app-plugins.min.css" rel="stylesheet" />
        <!-- Template Custom / App Css -->
        <link href="bundle/css/template-custom.min.css" rel="stylesheet" />
    </environment>

</head>
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">DespCloud - Despachante online</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                    <!-- #END# Call Search -->
                    <!-- Notifications -->
                    <li class="dropdown" style="display: none;">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="material-icons">notifications</i>
                            <span class="label-count">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">NOTIFICATIONS</li>
                            <li class="body">
                                <ul class="menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">person_add</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>12 new members joined</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 14 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-cyan">
                                                <i class="material-icons">add_shopping_cart</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>4 sales made</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 22 mins ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-red">
                                                <i class="material-icons">delete_forever</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy Doe</b> deleted account</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-orange">
                                                <i class="material-icons">mode_edit</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>Nancy</b> changed name</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 2 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-blue-grey">
                                                <i class="material-icons">comment</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> commented your post</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 4 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-light-green">
                                                <i class="material-icons">cached</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4><b>John</b> updated status</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> 3 hours ago
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <div class="icon-circle bg-purple">
                                                <i class="material-icons">settings</i>
                                            </div>
                                            <div class="menu-info">
                                                <h4>Settings updated</h4>
                                                <p>
                                                    <i class="material-icons">access_time</i> Yesterday
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="javascript:void(0);">Ver todas notificações</a>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Notifications -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            @*
                <!-- User Info -->
                <div class="user-info" style="display: none;">
                    <div class="image">
                        <img src width="48" height="48" alt="User" />
                    </div>
                    <div class="info-container">
                        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                        <div class="email">john.doe@example.com</div>
                        <div class="btn-group user-helper-dropdown">
                            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- #User Info -->
            *@
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">PRINCIPAL</li>
                    <li>
                        <a href="#appTabDashboard" data-tab-load="_" data-tab-title="Dashboard">
                            <i class="material-icons">home</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#appTabServiceOrders" data-tab-load="../ServiceOrders/_Index" data-tab-title="Ordem de serviço" data-tab-manager="ServiceOrdersManager">
                            <i class="material-icons">assignment</i>
                            <span>Ordem de serviço</span>
                        </a>
                    </li>
                    <li class="header">CADASTROS BÁSICOS</li>
                    <li>
                        <a href="#appTabServices" data-tab-load="../Services/_Index" data-tab-title="Serviços" data-tab-manager="ServicesManager">
                            <i class="material-icons">local_play</i>
                            <span>Serviços</span>
                        </a>
                    </li>
                    <li>
                        <a href="#appTabClients" data-tab-load="../Clients/_Index" data-tab-title="Clientes" data-tab-manager="ClientsManager">
                            <i class="material-icons">account_circle</i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#appTabVehicles" data-tab-load="../Vehicles/_Index" data-tab-title="Veículos" data-tab-manager="VehiclesManager">
                            <i class="material-icons">directions_car</i>
                            <span>Veículos</span>
                        </a>
                    </li>
                    <li class="header">CONFIGURAÇÃO</li>
                    <li>
                        <a href="#appTabCompanyConfig" data-tab-load="../Configuration/_Company" data-tab-title="Empresa - Configuração" data-tab-manager="CompanyConfigManager">
                            <i class="material-icons">settings</i>
                            <span>Empresa</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2019 <a href="javascript:void(0);">DespCloud - Despachante Online</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>
    <section class="content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>

    <environment include="Development">

        <!-- ===== Template Core
    ==================================================== -->
        <!-- Jquery Core Js -->
        <script src="lib/template/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap Core Js -->
        <script src="lib/template/plugins/bootstrap/js/bootstrap.js"></script>
        <!-- Select Plugin Js -->
        <script src="lib/template/plugins/bootstrap-select/js/bootstrap-select.js"></script>
        <!-- Slimscroll Plugin Js -->
        <script src="lib/template/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
        <!-- Waves Effect Plugin Js -->
        <script src="lib/template/plugins/node-waves/waves.js"></script>
        <!-- ===== /Template Core
    ==================================================== -->
        <!-- ===== Sob Demanda
    ==================================================== -->
        <!-- Jquery CountTo Plugin Js -->
        <script src="lib/template/plugins/jquery-countto/jquery.countTo.js"></script>
        <!-- Morris Plugin Js -->
        <script src="lib/template/plugins/raphael/raphael.min.js"></script>
        <script src="lib/template/plugins/morrisjs/morris.js"></script>
        <!-- Autosize Plugin Js -->
        <script src="lib/template/plugins/autosize/autosize.js"></script>
        <!-- Moment Plugin Js -->
        <script src="lib/template/plugins/momentjs/moment.js"></script>
        <!-- Bootstrap Material Datetime Picker Plugin Js -->
        <script src="lib/template/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
        <!-- Bootstrap Datepicker Plugin Js -->
        <script src="lib/template/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <!-- Bootstrap Notify Plugin Js -->
        <script src="~/lib/template/plugins/bootstrap-notify/bootstrap-notify.js"></script>
        <!-- ===== /Sob Demanda
    ==================================================== -->
        <!-- ===== App Plugins
    ==================================================== -->
        <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/locale/bootstrap-table-pt-BR.min.js"></script>
        <script src="~/lib/izi-modal/js/iziModal.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/js/core/jquery-validation/methods_pt.js"></script>
        <script src="~/js/core/jquery-validation/messages_pt_BR.js"></script>
        <script src="~/lib/form-to-json/formToJson.js"></script>
        <script src="~/lib/jquery-mask/dist/jquery.mask.js"></script>
        <!-- ===== /App Plugins
    ==================================================== -->
        <!-- Custom Js -->
        <script src="lib/template/js/admin.js"></script>

        <!-- App Js -->
        <script src="js/core/polyfill.js"></script>
        <script src="js/core/utils-modules.js"></script>
        <script src="js/core/utils-generic.js"></script>
        <script src="js/core/utils-bootstrapTable.js"></script>
        <script src="js/core/utils-form.js"></script>
        <script src="js/core/utils-mask.js"></script>
        <script src="js/core/utils.notify.js"></script>
        <script src="js/core/utils-modal.js"></script>
        <script src="js/core/utils-fetch.js"></script>
        <script src="js/core/layout.js"></script>

        <script src="js/entities/order-service.js"></script>
        <script src="js/entities/vehicle.js"></script>

        <script src="js/services/config-api.js"></script>
        <script src="js/services/companies.js"></script>
        <script src="js/services/clients.api.js"></script>
        <script src="js/services/services-api.js"></script>
        <script src="js/services/vehicles-api.js"></script>
        <script src="js/services/service-orders.api.js"></script>
        <script src="js/services/order-service-items.api.js"></script>

        <script src="js/components/ui/select-ui.js"></script>
        <script src="js/components/ui/base-editor.js"></script>
        <script src="js/components/vehicle/editor.js"></script>
        <script src="js/components/vehicle/index.js"></script>
        <script src="js/components/service/editor.js"></script>
        <script src="js/components/service/index.js"></script>
        <script src="js/components/client/editor.js"></script>
        <script src="js/components/client/index.js"></script>
        <script src="js/components/order-service/editor-item.js"></script>
        <script src="js/components/order-service/editor.js"></script>
        <script src="js/components/order-service/index.js"></script>
        <script src="js/components/configuration/company.js"></script>

    </environment>
    <environment exclude="Development">
        <!-- Template Core -->
        <script src="bundle/js/template-core.min.js"></script>
        <!-- Sob Demanda -->
        <script src="bundle/js/template-plugin.min.js"></script>
        <!-- App Plugins -->
        <script src="bundle/js/app-plugins.min.js"></script>
        <!-- Custom Js -->
        <script src="lib/template/js/admin.js"></script>
        <!-- App Js -->
        <script src="bundle/js/app.min.js"></script>
    </environment>

</body>
</html>