@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta  charset="utf-8" />
        <metaviewport></metaviewport>

        <title>OS recibo</title>
        
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <style></style>
    </head>
    <body>
        <div class="report-page">
            <div class="report-header report-poll">
                <div class="report-left">
                    <img class="report-logo" src="https://techcrunch.com/wp-content/uploads/2018/07/logo-2.png?w=300" />
                </div>
                <div class="report-right report-poll">
                    <div class="report-left">
                        <p><b>Prestado de serviço: </b> Despachante paulo cesar</p>
                        <p><b>Cpf/Cnpj: </b> 111.222.333-44</p>
                        <p><b>Endereço: </b> Rua A, 300, AV 78 - GV/MG</p>
                        <p><b>Telefone: </b> (33) 92200-1122</p>
                    </div>
                    <div class="report-right">
                        <p><b>Cliente: </b> José Antonio</p>
                        <p><b>Cpf/Cnpj: </b> 000.111.333-55</p>
                        <p><b>Email: </b> teste@teste.com</p>
                    </div>
                </div>                
            </div>
            <div class="report-body"></div>
            <div class="report-footer"></div>
        </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script></script>
    </body>
</html>