<div class="card m-0">
    <div class="header">
        <h2>OS Item</h2>
    </div>
    <div class="body">
        <form>
            <input name="id" type="hidden" value="0" />
            <input name="orderId" type="hidden" value="0" />
            <div class="row clearfix">
                <div class="col-sm-6">
                    <label>Serviço</label>
                    <div class="form-group">                        
                        <select  name="serviceId" class="form-control ui-selectpicker"></select>                        
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Veículo</label>
                    <div class="form-group">                        
                        <select name="vehicleId" class="form-control ui-selectpicker"></select>                        
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-3">
                    <label>Honorário</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="service.honorary" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Taxa</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="service.rate" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Placa/Targeta</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="service.plateCard" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Outros</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="service.other" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-group-btn px-1">
                <div class="col-m-12">
                    <button name="exit" type="button" class="btn btn-warning m-t-15 waves-effect">SAIR</button>
                    <button name="save" type="submit" class="btn btn-primary m-t-15 waves-effect">SALVAR</button>
                </div>
            </div>
        </form>
    </div>
</div>