<div class="card m-0">
    <div class="header">
        <h2>Serviço</h2>
    </div>
    <div class="body">
        <form>
            <div class="row clearfix">
                <div class="col-sm-4">
                    <label>Código</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="id" type="number" class="form-control" value="0" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Nome</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="name" type="text" class="form-control" />
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row clearfix">
                <div class="col-sm-3">
                    <label>Honorário</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="honorary" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Taxa</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="rate" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Placa/Targeta</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="plateCard" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>Outros</label>
                    <div class="form-group">
                        <div class="form-line">
                            <input name="other" type="text" class="form-control money2 masked" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-group-btn px-1">
                <div class="col-m-12">
                    <button name="exit" type="button" class="btn btn-warning m-t-15 waves-effect">SAIR</button>
                    <button name="save" type="submit" class="btn btn-primary m-t-15 waves-effect">SALVAR</button>
                </div>
            </div>
        </form>
    </div>
</div>